<mat-card class="mt-20">
	<mat-card-title>Edit Quote</mat-card-title>
	<hr>
	<mat-card-content>
		<div class="row">
			<mat-form-field class="col-sm-12">
				<textarea matInput placeholder="Enter Quote" name="content" [(ngModel)]="content"></textarea>
			</mat-form-field>

			<mat-form-field class="col-sm-12">
				<mat-select placeholder="Select Author" name="authorId" [(ngModel)]="authorId">
					<mat-option [value]="author.id" *ngFor="let author of authors">{{ author.name}}</mat-option>
				</mat-select>
			</mat-form-field>

			<button mat-raised-button color="primary" (click)="updateQuote()">Save Quote</button>
		</div>
	</mat-card-content>
</mat-card>