<mat-card class="mt-20">
	<mat-card-title>Login</mat-card-title>
	<hr>
	<mat-card-content>
		<div class="row">
			<mat-form-field class="col-sm-12">
				<input matInput placeholder="Enter Email" name="email" [(ngModel)]="email">
			</mat-form-field>
			<mat-form-field class="col-sm-12">
				<input type="password" matInput placeholder="Enter Password" name="password" [(ngModel)]="password">
			</mat-form-field>

			<button mat-raised-button color="primary" (click)="login()">Login</button>
		</div>
	</mat-card-content>
</mat-card>